/* 首页的样式 */
.main{
    width: 980px;
    height: 455px;
    margin: 10px 0 0 218px;
}
.focus{
    background: greenyellow;
    width: 720px;
    height: 455px;
    position: relative;
}

.arrow-l,.arrow-r{
    width: 24px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: rgba(0,0,0,.3);
    text-align: center;
    color: #FFF;
    font-family: 'icomoon';
    font-size: 18px;
}
.arrow-l{
    transform: rotateY(180deg);
}

.arrow-r{
    right: 0;
}
.circle{
    position: absolute;
    bottom: 10px;
    left: 50px;
}
.circle li{
    float: left;
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,.3);
    border: 2px solid rgba(255,255,255,.5);
    margin: 0 3px;
    border-radius: 50%;
    cursor:pointer;
}
.current{
    background: #FFF !important;
}

.newsflash{
    /* background-color: grey; */
    width: 250px;
    height: 455px;
}
.news{
    height: 163px;
    border: 1px solid #ccc;
}
.news-hd{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    padding: 0 15px;
}
.news-hd a{
    font-size: 12px;
    font-family: "icomoon";
    float: right;
}
.news-bd{
    padding: 10px 0 0 15px;
}
.news-bd li{
    height: 23px;
}
.lifeservice{
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice li{
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right:  1px solid #ccc;
    border-bottom:  1px solid #ccc;
}
.lifeservice li a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.service_ico{
    display: block;
    width: 24px;
    height: 24px;
    background: url(../image/icons.png) no-repeat;
    margin: 10px auto;
}
.service_ico_huafei{
    background-position: -17px -16px;
}
.service_ico_feiji{
    background-position: -79px -18px;
}

.lifeservice li p{
    text-align: center;
}
.hot{
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 15px;
    background: url(../image/jian.jpg) no-repeat;
}
.bargain{
    height: 75px;
    margin-top: 5px;
}

/* 推荐模块 */
.recommend{
    height: 163px;
    margin-top: 10px;
}
.recom-hd{
    width: 200px;
    height: 163px;
    background:#5c5251;
    text-align: center;
}
.recom-hd img{
    margin: 30px 0 10px 0;
}
.recom-hd h3{
    font-size: 18px;
    color: #FFF;
    font-weight: normal;
}

.recom-bd{
    width: 1000px;
    height: 163px;
    background: #ebebeb;
}
.recom-bd li{
    width: 249px;
    height: 145px;
    margin-top: 10px;
}
.recom-bd li:not(:last-child){
    border-right: 1px solid #ccc;
}
/* 楼层区 */
.box-hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
    margin-top: 25px;
}
.box-hd h3{
    float: left;
    font-size: 18px;
    color: #c81623;
}
.tab-list{
    float: right;
    line-height: 30px;
}
.tab-list li{
    float: left;
}
.tab-list li a{
    margin: 0 15px;
}
.box-bd{
    height: 359px;
}
.box-bd li{
    overflow: hidden;
}
.box-bd img{
    transition: all .2s;
}
.box-bd img:hover{
    margin-left: 8px;
}

.w209{
    width: 209px;
    background: #f9f9f9;
}
.w329{
    width: 329px;
}
.w219{
    width: 219px;
    border-right: 1px solid #ccc;
}
.w220{
    width: 220px;
    border-right: 1px solid #ccc;
}

.tab-con li{
    float: left;
    height: 359px;
}
.tab-con-item{
    border-bottom: 1px solid #ccc;
 
}
.tab-con-list{
    overflow: hidden;
    margin-bottom: 15px;
}

.tab-con-list li{
    width: 86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}

/* 电梯导航 */
.fixedtool{
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
    background-color: #fff;
}
.fixedtool .current{
    background-color: #c81623 !important;
    color: #FFF;
}
.fixedtool li{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}


